body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
}

html {
    height: 100%;
}

header {
    background-color: #333;
    color: white;
    padding: 30px 0;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    padding-left: 30px;
}

.logo img {
    max-width: 100px;
    vertical-align: middle;
}

nav {
    display: inline-block;
    float: right;
    padding-right: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;  /* Mantém o layout do menu principal inalterado */
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: green;
}



.dropdown {
    position: relative;
}

#services-menu {
    position: absolute;
    top: 125%;
    left: 0px;
    z-index: 2;
    padding-left: 1px;
    background-color: #252525;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2vh);
    transition: opacity 0.3s, transform 0.15s;
}

#services-menu a {
    display: block;
    white-space: nowrap;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    text-decoration: none;
}

#services-menu a:hover {
    background-color: rgb(229, 145, 0);
}


.dropdown:hover #services-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


main {
    display: flex; 
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    min-height: calc(100vh - 150px);
    align-items: stretch; 
}

.services {
    flex: 3; 
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.categories {
    flex: 1; 
    padding: 20px;
    background-color: #444;
    color: white;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: -41px;
    margin-right: -20px;
    margin-top: -20px;
    margin-left: -20px;
}

.categories ul {
    list-style: none;
    padding: 0;
}

.categories ul li {
    margin: 50px 0;
}

.categories ul li a {
    color: lightblue;
    text-decoration: none;
}

.categories ul li a:hover {
    color: white;
}

footer {
    clear: both;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    display: block;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    color: lightblue;
    text-decoration: none;
}

footer ul li a:hover {
    color: green;
}

#backToTopBtn {
    position: sticky; /* Usa a propriedade sticky */
    bottom: 20px; /* A partir de 20px do fundo da janela */
    right: 20px; /* A partir de 20px do lado direito */
    background-color: #333; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    padding: 15px; /* Espaçamento interno do botão */
    border-radius: 10px; /* Cantos arredondados */
    font-size: 18px; 
    text-align: center;
    text-decoration: none; 
    transition: background-color 0.3s; 
    z-index: 1000; 
}

#backToTopBtn:hover {
    background-color: #555; 
    cursor: pointer; 
}
